body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div label {
    font-weight: bold;
    color: #333;
}

form div input,
form div textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

form div textarea {
    resize: none;
    height: 100px;
}

.add-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    align-self: start;
}

.add-btn:hover {
    background-color: #0056b3;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.skill-heading {
    margin-bottom: -10px;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 20px;               
    margin-top: 20px;
}

.skill-row {
    display: contents; 
}

.skill-row label {
    font-size: 17px;
}

.skill-row input {
    width: 105%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left:  -20px;
}
